<div class="row">
    <div class="col-md-5 col-md-offset-4">
      <h1>Sign Up</h1>
      {{#if hasErrors}}
        <div class="alert alert-danger">
            {{#each messages}}
                <p>{{this}}</p>
            {{/each}}
        </div>
      {{/if}}
      <form class="" action="/user/signup" method="post">

        <div class="form-group">
          <label for="username">* Username. Should be in latin symbols</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user-secret" aria-hidden="true"></i></span>
            <input class="form-control" type="text" placeholder="Username" name="username" id="username">
           </div>
        </div>

        <div class="form-group">
          <label for="email">* Your email address</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
            <input class="form-control" type="text" placeholder="Email address" name="email" id="email">
           </div>
        </div>


       <div class="form-group">
          <label for="password">* Your password. Should be 6 characters at least</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
            <input class="form-control" type="password" placeholder="Password" name="password" id="password">
          </div>
        </div>

        <div class="form-group">
           <div class="input-group">
             <span class="input-group-addon"><i class="fa fa-unlock" aria-hidden="true"></i></span>
             <input class="form-control" type="password" placeholder="Confirm password" name="passwordRetype" id="passwordRetype">
           </div>
         </div>

         <div class="form-group">
           <label for="firstName">Your Name</label>
           <div class="input-group">
             <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
             <input class="form-control" type="text" placeholder="First Name" name="firstName" id="firstName">
            </div>
         </div>


         <div class="form-group">
           <div class="input-group">
             <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
             <input class="form-control" type="text" placeholder="lastName" name="lastName" id="lastName">
            </div>
         </div>

         <div class="form-group">
           <label for="City">Your place</label>
           <div class="input-group">
             <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
             <input class="form-control" type="text" placeholder="City" name="city" id="city">
            </div>
         </div>

         <div class="form-group required">
           <div class="input-group">
             <span class="input-group-addon"><i class="fa fa-globe" aria-hidden="true"></i></span>
             <input class="form-control" type="text" placeholder="Country" name="country" id="country">
            </div>
         </div>

          <div class="form-group">
              <label for="bio">Bio</label>
              <textarea class="form-control" rows="4" id="bio" name="bio"></textarea>
          </div>

         <div class="form-group">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
          </div>
          <button type="submit" class ="btn btn-primary"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</button>
          <hr>
      </form>
    </div>
</div>
